/* firstStyle.css */
.seeMore_button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

/* secondStyle.css */
.seeMore_button:hover {
    -fx-background-color: #45a049;
}

.seeMore_button:pressed {
    -fx-background-color: #349945;
}
